nav{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 75vw;
  max-width: 0;
  height: 100%;
  background: black;
  z-index: 75;
  transition: 0.3s all ease-in-out;
  padding-top: 5rem;
  overflow: hidden;
  color: white;
  border-right: 1px solid white;
  li{
    border-bottom: 1px solid white;
    a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      &:hover{
        color: darken(white, 25%);
      }
    }
  }
}

.nav-dropdown{
  .dropdown-arrow{
    margin-right: 2rem;
  }
}

.hamburger{
  @extend %naked-list;
  height: 100%;
  width: 100%;
  cursor: pointer;
  li{
    position: relative;
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
    background: black;
    transition: 0.3s all;
  }

  :nth-child(2){
    width: 25px;
  }
}

.header-hamburger{
  position: fixed;
  width: 40px;
  height: 35px;
  margin: 5px;
  z-index: 110;
  transition: 0.3s all ease-in-out;
  &-as-menu{
    margin: 21px 10px 10px;
    li{
      background: white;
    }
  }
}

.large-header-title{
  position: relative;
  z-index: 98;
  text-align: center;
  font-size: 8rem;
  transition: 1s all;
}

.large-header-subtitle{
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  top: -4rem;
}

.large-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: 1s all;
  background: white;
  &-as-menu{
    z-index: 100;
    position: fixed;
    background: black;

    .large-header-title {
      text-align: center;
      font-size: 2rem;
      color: white;
      &-branded{
        &:before {
          content: "Vent";
          color: gray;
          font-size: 1rem;
          vertical-align: top;
          position: relative;
          left: -5px;

          opacity: 0;
          animation-name: headingBeforeAnimation;
          animation-duration: 0.8s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;

        }
      }
    }

    .large-header-subtitle{
      animation-name: subheadingAnimation;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      overflow: hidden;
    }
  }
}

@keyframes subheadingAnimation {
  from {margin: inherit; height: 38px;}
  to {margin: 0; height: 0;}
}

@keyframes headingBeforeAnimation {
  from {top: -100px;}
  to {top: 0px; opacity: 1;}
}
