
@import "base/_colours";
@import "base/_strings";
@import "base/_base";
@import "base/_buttons";
@import "base/_forms";

@import "partials/_navigation";
@import "partials/_footer";
@import "partials/_vent-post";
@import "partials/_vent-post-comment";

@import "views/_vent-form";
@import "views/_comment-box";
@import "views/_expando";

h1.large-header-title::after {
  content: "beta";
  font-size: 1rem;
  color: #a90000;
}