$vent-post-happy: #c2ffa1;
$vent-post-excited:  #ffd900;
$vent-post-sad:  #557eff;
$vent-post-angry : #ff8d8b;
$vent-post-blank : #575757;

$vent-post-footer : #dedede;
$vent-post-background : #e5e5e5;

$vent-post-author : #000000;
$vent-post-id : #a9a9a9;